/*
Gris Claro : #b5b6b7
Gris Medio Oscuro : #707274
Gris Oscuro : #3E3F40
Black : black
Letra : Raleway
*/

* {
  font-family: 'Raleway', sans-serif;
  color: #707274;
  font-weight: lighter;
  font-stretch: condensed;
}
h1, h2, h3, h4, h5, h6 {
  color: black;
}
a {
  text-decoration: none;
  color: orange;
}
label, input {
  display: block;
  margin: 2% 0;
}
input {
  width: 80%;
  height: 21px;
  max-height: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #b5b6b7;
}
input:focus {
  outline: none;
}
span {
  text-decoration: underline;
  font-weight: 700;
}
.left{
  float: left;
}
.right {
  float: right;
}
#principal {
  margin: 10% 15%;
}
#container {
  width: 100%;
  margin: 0;
  padding: 0;
}
.field {
  display: inline-block;
  width: 45%;
  padding: 0;
  margin: 1% 0;
}
